<!DOCTYPE html>
<html>
<head>
  <title>Capstone</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if signed_in? %>
  <header class="signedin-header group">
    <strong class="signedin_badge"></strong>
    <ul class="home-nav">
      <li><a href="#">Collections</a></li>
      <li><a class="nav-selected" href="#">Home</a></li>
    </ul>
    <ul class="signedin-nav">
      <li class="searchdiv"><input type="text" placeholder="Search" class="searchbar"></input></li>
      <li class="upload"><a href="#">Upload</a></li>
      <strong class="signedin_badge circle"></strong>
      <li class="username"><%= current_user.username %></li>
      <li><%= button_to "Sign Out", session_url, :method => :delete %></li>
    <ul>
  </header>
<% else %>
  <header class="signin-header group">
    <strong class="signin_badge"></strong>
    <div class="signin-header-logo">
      SoundCrowd
    </div>
    <ul class="signin-nav">
      <li class="signin-nav-items"><%= link_to "Create Account", new_user_url %></li>
      <li class="signin-selected signin-nav-items"><%= link_to "Sign In", new_session_url %></li>
    </ul>
  </header>
<% end %>

<br>

<%= render "layouts/errors" %>

<%= yield %>

</body>
</html>
